button{
    width: 40px;
    color:white;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    
}
#cs1{
    background-color:rgb(226, 43, 43)
}
#cs2{
    overflow: hidden;
}
button:hover{
background-color:antiquewhite;

color:black;
}
#cs3:hover{
    background-color:yellow;
    color:white;
    border:none;
}
#style
{
background-color: rgb(218, 208, 208);
height:35px;
border:solid  red;
border-color: rgb(146, 129, 129);
}